<div class="main">

  <%- include('partials/header') %>
  
  
  <div class="jumbotron centered">
    <div class="container">
      <img src="homeLogo.png" alt="logo" class="logo"/>
      <h1 class="display-3">Secret<span class="highlight">Hub</span></h1>
      <p class="lead">Don't keep your secrets, share them anonymously!</p>
    </div>
  </div>
  
  <%- include('partials/footer') %>
</div>
