<div class="main">  
  <div class="header">
    <div class="login">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>
  <div class="jumbotron text-center">
  <div class="container">
    <img src="homeLogo.png" alt="logo" class="logo">
    <h1 class="display-3">Welcome to the Secret Page!</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>

    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>

</div>